<template name="landing">
  <div class="jumbotron">
    <div class="row text-center">
      <div class="col-xs-4 col-sm-2 col-sm-offset-1">
        <h1><i class="fa fa-hand-rock-o"></i></h1>
        <h4>Rock</h4>
      </div>
      <div class="col-xs-4 col-sm-2">
        <h1><i class="fa fa-hand-paper-o"></i></h1>
        <h4>Paper</h4>
      </div>
      <div class="col-xs-4 col-sm-2">
        <h1><i class="fa fa-hand-scissors-o"></i></h1>
        <h4>Scissors</h4>
      </div>
      <div class="col-xs-4 col-xs-offset-2 col-sm-2 col-sm-offset-0">
        <h1><i class="fa fa-hand-lizard-o"></i></h1>
        <h4>Lizard</h4>
      </div>
      <div class="col-xs-4 col-sm-2">
        <h1><i class="fa fa-hand-spock-o"></i></h1>
        <h4>Spock</h4>
      </div>
    </div>
    {{#if currentUser}}
    <div class="row">
      <div class="col-md-6">
        <div id="findMatch" class="btn btn-lg btn-primary btn-block">
          {{#if searching}}Trying to find a match (30 secs)...{{else}}Find a Match{{/if}}
        </div>
      </div>
      <div class="col-md-6">
        <div id="playAgainstComputer" class="btn btn-lg btn-info btn-block">Play against a Computer</div>
      </div>
    </div>
    {{else}}
    <h2 class="text-center">Sign in / Join to get started</h2>
    {{/if}}
  </div>
  <div class="row">
    <div class="col-sm-6">
      {{> matchList}}
    </div>
    <div class="col-sm-6">
      <h3 class="text-center">
        <span class="label label-info">Active Users: {{getPublishedCount 'activeUsers'}}</span>
      </h3>
      <h3 class="text-center">
        <span class="label label-info">Last Match Played: {{mostRecentMatch}}</span>
      </h3>
    </div>
  </div>
</template>
