<template name="matchInfo">
  <div class="panel panel-default m-b-md">
    <div class="panel-heading">
      <h4 class="panel-title text-center">Score (first to 3)</h4>
    </div>
    <div class="panel-body text-center">
      <div class="row">
        <div class="col-xs-6">
          <h4>{{players.[0]}}:</h4>
          <h4>{{getScore 0}}</h4>
        </div>
        <div class="col-xs-6">
          <h4>{{players.[1]}}:</h4>
          <h4>{{getScore 1}}</h4>
        </div>
      </div>
    </div>
  </div>
  {{> roundList}}
</template>
