<template name="roundList">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title text-center">Results</h4>
    </div>
    {{#if Template.subscriptionsReady}}
      <ul class="list-group">
        {{#each results}}
          {{> roundItem}}
        {{else}}
          <li class="list-group-item">None</li>
        {{/each}}
      </ul>
    {{else}}
      <div class="panel-body text-center">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    {{/if}}
  </div>
</template>
